@import "../scssconfig/mixins.scss";


.single-product {
    margin: 50px 50px;

    @include md {
        margin: 75px 0px;
    }

    .layout {
        max-width: calc(100% - 20px);
        margin: 0 auto;

        @include md {
            max-width: 1200px;
        }

        .single-product-container {
            width: 100%;
            display: flex;
            gap: 20px;
            flex-direction: column;

            @include md {
                flex-direction: row;
            }

            .product-img {
                width: 100%;
                background-color: rgba(0, 0, 0, 0.05);
                display: flex;
                justify-content: center;
                flex-shrink: 0;

                @include md {
                    width: calc(50% - 10px);

                }

                img {
                    width: 400px;
                    height: 400px;
                    display: block;
                }
            }

            .product-details {
                width: 100%;
                margin: 10px 0;

                @include md {
                    width: calc(50% - 10px);

                }

                .product-title {
                    font-size: 20px;
                    line-height: 23px;
                }

                .product-price {
                    font-size: 18px;
                    font-weight: bold;
                    margin: 18px 0px;
                }

                .product-text {
                    font-size: 14px;
                    color: #6b6b6b;
                }

                .add-btns {
                    display: flex;
                    gap: 20px;
                    margin: 15px 0px;
                    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
                    padding-bottom: 20px;
                    align-items: center;

                    .add-btn {
                        width: fit-content;
                        display: inherit;
                        align-items: center;
                        border: 2px solid rgba(0, 0, 0, 0.2);
                        height: 40px;

                        span {
                            display: flex;
                            font-size: 18px;
                            justify-content: center;
                            align-items: center;
                            width: 30px;
                            color: #6b6b6b;
                            height: 100%;

                            &:nth-child(1) {
                                border-right: 2px solid rgba(0, 0, 0, 0.2);
                                cursor: pointer;

                            }

                            &:nth-child(2) {
                                width: 40px;

                            }

                            &:nth-child(3) {
                                border-left: 2px solid rgba(0, 0, 0, 0.2);
                                cursor: pointer;

                            }
                        }
                    }

                    .add-to-cart {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 150px;
                        height: 40px;
                        background-color: #8e2de2;
                        outline: none;
                        border: none;
                        color: white;
                        text-transform: uppercase;
                        cursor: pointer;
                        border-bottom: 3px solid #6516aa;

                        span {
                            margin-right: 5px;
                        }
                    }
                }

                .share-box {

                    .share-box-cat {
                        margin-bottom: 5px;

                        span {
                            margin-left: 10px;
                            color: #6b6b6b;

                        }
                    }

                    .share-box-icons {
                        display: flex;
                        gap: 10px;
                        align-items: center;

                        svg {
                            color: #6b6b6b;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

}